body{
    background-color: aqua;
    margin: 10%;
}
div{
    background-color: aliceblue;
margin: auto;

}
img{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-color: aquamarine;
    flex-direction: column;

}
.container{
    display: flex;
    margin: auto;


}
p{
    padding-right: 800px;
    margin: auto;

}
hr{
    display: flex;
    margin: auto;
    height: 1px;
    background-color: black;
}
