

.a{
  background-color: #E53038;
  height: 100px;
  width: 100px;
  padding: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.b{
  background-color: white;
  height: 100px;
  width: 100px;
  padding: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
border-radius: 50%;
}

.c{
  background-color: #E53038;
  height: 100px;
  width: 100px;
  padding: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
} 

.d{
  background-color:white;
  height: 100px;
  width: 100px;
  padding: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.e{
  background-color: #E53038;
  padding: 60px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border-radius:50%;
}
